---
import Partition from '@/components/Partition.astro'
import Navigation from '@/components/header/Navigation.astro'
---

<footer class='flex gap-px'>
  <Partition>
    <div class='p-2 text-sm font-medium'>
      <address class='not-italic'>
        <div>Eric Hu studio</div>
        <div>Brooklyn, NY</div>
        <div>studio@erichu.info</div>
      </address>
    </div>
  </Partition>
  <Navigation />
</footer>
